[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
neomodel = "*"
bookmarks-parser = "*"
py2neo = "*"
sqlalchemy-utils = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
psycopg2 = "*"
python-slugify = "*"
sqlalchemy-mptt = "*"

[requires]
python_version = "3.7"
